<!DOCTYPE HTML>
<html>
  <head>
    <title>Passport Authentication Demo</title>
    <style>
      .main {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main class="main">
      <h1>Passport Demo</h1>
      <h4>Login or Register with:</h4>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </main>
  </body>
</html>