<!DOCTYPE HTML>
<html>
  <head>
    <title>Passport Authentication Demo</title>
    <style>
      .main {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main class="main">
      <h1>Signup</h1>
      <form action="/signup" method="post">
        <label>Email <input type="email" /> </label>
        <label>Password <input type="password" /> </label>
        <button type="submit">Login</button>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Or go <a href="/">Home</a>.</p>
    </main>
  </body>
</html>